# ignore all .pdf files
*.pdf
.firebase/
node_modules/
data_processing/
testing_api.py
Criando API no Python.csv
id_project_cs50
id_project_cs50.pub
api_testing.py
query_data.py
query.sql
final_project_cs50/my_database.db
Trash/
venv/
.env/
db_baseline/
__pycache__/

